
<h2>Your Spring Dashobard</h2>
<h3>{{errorMsg}}</h3>

<!-- <form  class="form-signin" #heroForm="ngForm" (ngSubmit) = "onSubmit($event)">
    <div class="form-group">
      <label for="name">Add New</label>
      <input type="text" class="form-control" id="name" required
        [(ngModel)]="newInterest.title" name="title"
          #title="ngModel">
      <input type="text" class="form-control" id="imageUrl" required
        [(ngModel)]="newInterest.imageUrl" name="imageUrl"
          #imageUrl="ngModel">

      <div [hidden]="title.valid || title.pristine" class="alert alert-danger">Title is required
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
</form> -->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add new</button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  class="form-signin" #heroForm="ngForm" (ngSubmit) = "onSubmit($event)">
          <div class="form-group">
              <input type="text" class="form-control" id="name" required
                [(ngModel)]="newInterest.title" name="title"
                  #title="ngModel">

              <input type="text" class="form-control" id="imageUrl" required
                [(ngModel)]="newInterest.imageUrl" name="imageUrl"
                  #imageUrl="ngModel">
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>

        </form>
      </div>

    </div>
  </div>
</div>

<h1>Masonry - imagesLoaded progress</h1>

<div class="grid">
  <div class="grid-sizer"></div>
  <div class="grid-item">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" />
  </div>
  <div class="grid-item">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" />
  </div>
  <div class="grid-item">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" />
  </div>
  <div class="grid-item">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" />
  </div>
  <div class="grid-item">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" />
  </div>
  <div class="grid-item">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" />
  </div>
  <div class="grid-item">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" />
  </div>
  <div class="grid-item">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" />
  </div>
  <div class="grid-item">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" />
  </div>
</div>



<div class="container">
<div class="row">

<div class="cover ng-scope" *ngFor= "let interest of myInterests" >
<a>
    <img alt="" src="{{interest.imageUrl}}">
    <button type="button" class="close" (click)="deleteInterest(interest.title)">×</button>
</a>
<p>{{interest.title}}</p>
</div>


</div>
</div>
